.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.newsflash .news .news_hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
}
.newsflash .news .news_hd h5 {
    float: left;
    font-size: 14px;
}
.newsflash .news .news_hd .more {
    float: right;
}
.newsflash .news .news_hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}
.newsflash .news .news_bd {
    padding: 5px 15px 0px;
}
.newsflash .news .news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.newsflash .lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0px;
    overflow: hidden;
}
.newsflash .lifeservice ul {
    width: 252px;
}
.newsflash .lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.newsflash .lifeservice ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.newsflash .bargain {
    margin-top: 5px;
}
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}
.recom .recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom .recom_bd {
    float: left;
}
.recom .recom_bd ul li {
    position: relative;
    float: left;
}
/* 此处为不管后台上传的图片为多大，统一图片显示格式 */
.recom .recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom .recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.box_hd .tab_list {
    float: right;
    line-height: 30px;
}
.box_hd .tab_list ul li {
    float: left;
}
.box_hd .tab_list ul li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
}
.box_bd .tab_content .tab_list_item > div {
    float: left;
    height: 361px;
}
.box_bd .tab_content .tab_list_item .bb {
    border-bottom: 1px solid #ccc;
}
.box_bd .tab_content .tab_list_item .col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.box_bd .tab_content .tab_list_item .col_210 ul {
    padding-left: 12px;
}
.box_bd .tab_content .tab_list_item .col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}
.box_bd .tab_content .tab_list_item .col_329 {
    width: 329px;
}
.box_bd .tab_content .tab_list_item .col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.box_bd .tab_content .tab_list_item .col_219 {
    width: 219px;
}