.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.register_area {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 2px;
}
.register_area h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.register_area .login {
    float: right;
    font-size: 14px;
} 
.register_area .login a {
    color: #c81523;
}
.register_area .reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.register_area .reg_form label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.register_area .reg_form ul li {
    margin-bottom: 20px;
}
.register_area .reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.register_area .reg_form .error {
    counter-reset: #c81523;
}
.register_area .reg_form .error .error_icon,
.register_area .reg_form .success .success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(../images/error.png) no-repeat;
    margin-top: -2px;
}
.register_area .reg_form .success {
    color: green;
}
.register_area .reg_form .success .success_icon {
    background: url(../images/success.png) no-repeat;
}
.register_area .reg_form .safe {
    padding-left: 175px;
}
.register_area .reg_form .safe em {
    padding: 0 12px;
    color: #fff;
}
.register_area .reg_form .safe .ruo {
    background-color: #de1111;
}
.register_area .reg_form .safe .zhong {
    background-color: #40b83f;
}
.register_area .reg_form .safe .qiang {
    background-color: #f79100;
}
.register_area .reg_form .agree {
    padding-left: 95px;
}
.register_area .reg_form .agree a {
    color: #1ba1e6;
}
.register_area .reg_form .agree input {
    vertical-align: middle;
}
.register_area .reg_form .btn {
    width: 200px;
    height: 34px;
    background-color: #c81523;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 70px ;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links {
    margin-bottom: 15px;
}
.mod_copyright .links ul {
    margin-left: 180px;
}
.mod_copyright .links ul li {
    float: left;
}
.mod_copyright .links ul li a {
    padding: 0px 5px;
}
.mod_copyright .copyright {
    line-height: 20px;
}